.element{
    margin: 2%;
    list-style: none;
    background-color: whitesmoke;
    border-radius: 5px;

}
.aa{
     background-color: whitesmoke;
    border-radius: 5px;
  
  
}
.actions{
    list-style: none;
    margin-left: 65%;
    
}
.finalizada{
    
}
